<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
        <li>The one about Hygge</li>
        <li>The one about the Nordic Diet</li>
        <li>The one about 1Q84</li>
        <li>The one about Tacocat</li>
        <li>The one about Swiss Chocolate</li>
        <li>The one about Parking</li>
    </ul>
    <img src = "/static/tacocat.jpg"><br>
    <a href = "/">Go Home</a>
    <a href = "/about">About Me</a>
    
</body>
</html>